<#@ output extension=".xml" #>
<#@ include file=".\..\Variables.t4" #>
<?xml version="1.0" encoding="utf-8"?>
<functions>
<#
for (var i = 1; i <= setCount; i++)
{
	string paddedIndex = i.ToString().PadLeft(2, '0');
    string sourceId = "Set" + i.ToString();
#>
	<category name="%%Set<#= i #>Name%% Controls" sourceid="<#= sourceId #>" condition="$SetCount >= <#= i #>">
		<function name="Clear Selection" export="clearSelection:<#= i #>" buttontag="Clear" repeatrate="0" >
			<parameter name="setIndex" type="integer" default="<#= i - 1 #>" hidden="true" />
			<parameter name="view" type="deviceid" hidden="true" />
		</function>

<#
	for (var j = 1; j <= itemCount; j++)
	{
#>
		<function name="Select %%Set<#= i #>Item<#= j #>Name%%" export="selectItem:<#= i #>_<#= j #>" buttontag="SelectItem" repeatrate="0" condition="$Set<#= i #>ItemCount >= <#= j #>">
			<parameter name="setIndex" type="integer" default="<#= i - 1 #>" hidden="true" />
			<parameter name="itemIndex" type="integer" default="<#= j - 1 #>" hidden="true" />
			<parameter name="view" type="deviceid" hidden="true" />
		</function>
<#
	}
#>
	</category>
<#
}
#>
</functions>
